<% provide(:title, 'Projects') %>
<h1>Projects Fall 2012</h1>
<p>

<ul>
  <li><h3>Online learning platform</h3></li>
	<ul>
		<li> Tum C. </li>
		<li> Weerapat P. </li>
		<li> Paul J. </li>
		<li> Jiexi C. </li>
		<li> Matt V. </li>
		<li> Paul J. </li>
		<li> Michael L. </li>
		<li> Richard </li>
		<li> Richard </li>
		<li>  Kaew T. </li>
	</ul>

	To join the group, sign in to your g.hmc.edu account,
	go to Groups, and
	join the "Online Learning Platform Developers" group. 
	<hr>
  <li><h3>Craiglist</h3></li>
  <ul>
		<li> Brad </li>
		<li> Coline </li>
		<li> Minnie </li>
		<li> Vanessa. </li>
		<li> Allison S. </li>
		<li> Philip </li>
		<li> Arthur </li>
		<li> Robert </li>
   </ul>
	<hr>
    <li><h3>AHSMC Voting System</h3></li>
  <ul>
		<li> Jacob </li>
		<li> My Ho </li>
		<li> Vincent </li>
		<li> Nabil Z. </li>
   </ul>
</ul>
</p>